.navigation-container {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
}

.navigation-links-wrapper {
  padding: 7px 0;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-links {
  display: flex;

  a {
    margin-left: 15px;
    display: inline-block;

    &.user-image {
      margin-left: 25px;
    }
  }
}

.user-image {
  display: flex !important;
  align-items: center;

  span {
    line-height: 26px;
  }

  img {
    margin-left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
}

.logout {
  line-height: 26px;

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}